{% extends "base.html" %}

{% block title %}Logged out | {% endblock %}

{% block content %}

</nav>

<!-- Logout Form -->
<section class="mt-5 pt-md-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h1 class="text-white">
        You have logged out successfully!
      </h1>
      <h1 class="text-white">
        To go back to the front page, click <a class="text-white hover-info" href="{% url 'index' %}">here</a>
      </h1>
    </div>
  </div>
</section>
<!-- Logout Form end -->

{% endblock %}
